.header {
  min-height: 40px;
  min-width: 120px;
  border: 1px solid #ffffff;
  background-color: cadetblue;
  color: #ffffff;
  font-weight: bold;
}

.right {
  text-align: right !important;
}

.tablerow {
  border-bottom: 1px solid #d7d7d7;
  min-height: 40px;
  min-width: 120px;
}